.blockquote-wrap {
    border-left: 2px solid $brand-color-1;
    position: relative;
    margin-left: $indent__base;
    padding: $indent__small $indent__base 0 $indent__base;

    @include from('medium') {
        display: flex;
        align-items: center;
    }

    // Psuedo elements for the blockquote decoration
    &:before,
    &:after {
        content: '';
        border-radius: 50%;
        background-color: $brand-color-1;
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
    }

    &:before {
        left: calc(-1rem - 1px);
        top: 0;
        color: $text-color--bright;
        font-size: $font-size__h2;
        outline: 3px solid $text-color--bright;
        width: 2rem;
        height: 2rem;
        background-image: url("~@/assets/icons/qt.svg");
        background-size: 1.125rem;
        background-position: center center;
        background-repeat: no-repeat;
    }

    &:after {
        width: .5rem;
        height: .5rem;
        left: calc(-.25rem - 1px);
        bottom: 0;
    }
}

.blockquote {
    margin: 0;
    flex-shrink: 1;
    
    &__content {
        font-family: $font-family__serif;
        font-weight: $font-weight__light;
    }

    &__caption {
        font-weight: $font-weight__semibold;
    }

    + .action {
        @include to('medium') {
            margin-top: $indent__base;
        }

        @include from('medium') {
            margin-left: $indent__base;
        }
    }

    cite {
        font-style: normal;
    }
}