.action {
    display: inline-block;
    padding: $indent__base $indent__large;
    text-transform: uppercase;
    border: 0 solid $brand-color-1;
    background-color: $brand-color-1;
    text-decoration: none;
    font-size: $font-size__small;
    transition: all ease-in-out .2s;
    border-radius: $border-radius__base;

    &--primary {
        border-color: $brand-color-2;
        background-color: $brand-color-2;
        color: $text-color--bright;

            &:hover {
                background-color: $brand-color-2--dark;
            }

            &:active {
                background-color: $brand-color-2--darker;
            }

    }
}