.movie-card {

    img {
        max-width: 100%;
    }

    &__title {
        font-size: $font-size__base;
    }

    &__genres {
        display: flex;
        align-items: center;
    }

    &__genres-title {
        font-size: $font-size__base;
        margin: 0;
    }

    &__genres-list {
        display: flex;
        list-style-type: none;
        padding-left: $indent__small;
        margin: 0;

        > li:not(:last-child) {
            &:after {
                content: ',';
            }
        }

        > li:nth-of-type(n+2) {
            padding-left: $indent__xsmall;
        }
    }
}