$breakpoints: (
    'xsmall': 400px,
    'small':  767px,
    'medium': 992px,
    'large':  1200px,
    'xlarge': 1860px
) !default;

@mixin from($breakpoint) {
    @if map-has-key($breakpoints, $breakpoint) {
        // Return a media query
        @media (min-width: map-get($breakpoints, $breakpoint)) {
            @content;
        }
    }
   
    // If the breakpoint doesn't match the available values
    @else {
        @warn "Error: `#{$breakpoint}` isn't a valid breakpoint. "
            + "Select from: #{map-keys($breakpoints)}.";
    }
}

@mixin to($breakpoint) {
    @if map-has-key($breakpoints, $breakpoint) {
        // Return a media query
        @media (max-width: map-get($breakpoints, $breakpoint)) {
            @content;
        }
    }
   
    // If the breakpoint doesn't match the available values
    @else {
        @warn "Error: `#{$breakpoint}` isn't a valid breakpoint. "
            + "Select from: #{map-keys($breakpoints)}.";
    }
}