.filterable-content {
    border: 1px solid $border-color__base;
    background-color: $background-color-2;
}

.filters-list {
    list-style-type: none;
    padding-left: 0;
    margin: 0;
    display: flex;

    > li:not(:last-child) {
        &:after {
            content: ",";
        }
    }

    > li:nth-of-type(n+2) {
        padding-left: $indent__xsmall;
    }
}