.movie-grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: $indent__base;
    padding: $indent__base $indent__small $indent__small $indent__small;

    @include from ('small') {
        grid-template-columns: repeat(2, 1fr);
    }

    @include from ('medium') {
        grid-template-columns: repeat(3, 1fr);
    }
}