<template>
  <div class="quote">
    <div class="container">
      <div class="blockquote-wrap">
        <blockquote class="blockquote">
          <p class="blockquote__content large">
            {{ text }}
          </p>
          <figcaption class="blockquote__caption small">
            {{ author }}, <cite>{{ role }}</cite>
          </figcaption>
        </blockquote>
        <a href="" class="action action--primary">Tell Me More</a>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "BlockQuote",
  props: {
    text: String,
    author: String,
    role: String,
  },
};
</script>
