<template>
  <article class="movie-card">
    <img :src="data.poster" alt="" />
    <h3 class="movie-card__title">{{ data.title }} ({{ data.year }})</h3>
    <div class="movie-card__genres">
      <h4 class="movie-card__genres-title small">Genres:</h4>
      <ul class="movie-card__genres-list">
        <li
          class="small strong"
          v-for="(genre, i) in data.genre"
          :key="`genre-${i}`"
        >
          {{ genre }}
        </li>
      </ul>
    </div>
  </article>
</template>

<script>
export default {
  name: "MovieCard",
  props: {
    data: Object,
  },
};
</script>
