<template>
  <div>
    <form
      @reset.prevent="resetForm()"
      v-on:change="filterResults()"
      @focusout="hideDropdowns"
      class="form"
    >
      <div class="row">
        <div class="filters">
          <div
            :class="{ active: state.genresDropdown }"
            class="check-list-wrap"
            id="check-list-1"
          >
            <button class="check-list__button" v-on:click.prevent="showGenres">
              Genre
            </button>
            <div class="check-list" tabindex="-1">
              <div
                v-for="(genre, i) in state.genres"
                :key="i"
                class="check-list__item"
              >
                <input
                  type="checkbox"
                  :value="genre"
                  :id="genre"
                  v-model="state.selectedGenreOption"
                /><label :for="genre">{{ genre }}</label>
              </div>
            </div>
          </div>

          <div
            :class="{ active: state.yearsDropdown }"
            class="check-list-wrap"
            id="check-list-2"
          >
            <button class="check-list__button" v-on:click.prevent="showYears">
              Year
            </button>
            <div class="check-list" tabindex="-1">
              <div
                v-for="(year, i) in state.years"
                :key="i"
                class="check-list__item"
              >
                <input
                  type="checkbox"
                  :value="year"
                  :id="year"
                  v-model="state.selectedYearOption"
                /><label :for="year">{{ year }}</label>
              </div>
            </div>
          </div>
        </div>
        <div class="search-input">
          <input
            type="text"
            v-on:keyup="filterResults()"
            v-model="state.search"
          />
        </div>
      </div>
      <div class="row">
        <div class="media-type">
          <div class="checkbox-item">
            <input
              type="radio"
              id="films"
              name="media"
              value="movie"
              v-model="state.selectedMediaOption"
            />
            <label for="films">Movies</label>
          </div>

          <div class="checkbox-item">
            <input
              type="radio"
              id="books"
              name="media"
              value="book"
              v-model="state.selectedMediaOption"
            />
            <label for="books">Books</label><br />
          </div>
        </div>

        <div class="form-actions">
          <input type="reset" value="Clear Filters" />
        </div>
      </div>
    </form>

    <div class="row" v-if="state.selectedYearOption.length > 0">
      Years selected:
      <ul class="filters-list">
        <li v-for="(year, i) in state.selectedYearOption" :key="i">
          {{ year }}
        </li>
      </ul>
    </div>

    <div class="row" v-if="state.selectedGenreOption.length > 0">
      Genres selected:
      <ul class="filters-list">
        <li v-for="(genre, i) in state.selectedGenreOption" :key="i">
          {{ genre }}
        </li>
      </ul>
    </div>

    <div v-if="state.results.length < 1">
      <p>Sorry, no results have been found</p>
    </div>

    <div class="movie-grid" v-if="state.results">
      <MovieCard
        v-for="(movie, i) in state.results.sort()"
        :key="`movie-${i}`"
        :data="movie.item ? movie.item : movie"
      />
    </div>
  </div>
</template>

<script>
import { reactive } from "vue";
import { useStore } from "vuex";
import Fuse from "fuse.js";

import MovieCard from "@/components/MovieCard.vue";

export default {
  name: "FilterableContent",
  components: {
    MovieCard,
  },
  setup() {
    const store = useStore();

    const state = reactive({
      data: [],
      genres: [],
      years: [],
      selectedGenreOption: [],
      selectedYearOption: [],
      selectedMediaOption: "null",
      search: "",
      results: [],
      genresDropdown: false,
      yearsDropdown: false,
    });

    const getData = () => {
      state.data = store.getters.getMovies;
      state.genres = store.getters.getGenres;
      state.years = store.getters.getYears;
    };

    getData();

    const fuse = new Fuse(state.data, {
      keys: ["title"],
    });

    function resetForm() {
      state.selectedYearOption = [];
      state.selectedMediaOption = "null";
      state.selectedGenreOption = [];

      filterResults();
    }

    function filterResults() {
      let result = [];

      if (state.search.length > 1) {
        result = fuse.search(state.search);
      } else {
        // default sorted alphabetically
        result = state.data.sort((a, b) => a.title.localeCompare(b.title));
      }

      let filteredResults = result;

      if (state.selectedGenreOption.length > 0) {
        filteredResults = filteredResults.filter(filterGenre);
      }

      if ("null" !== state.selectedMediaOption) {
        filteredResults = filteredResults.filter(filterMedia);
      }

      if (state.selectedYearOption.length > 0) {
        filteredResults = filteredResults.filter(filterYear);
      }

      state.results = filteredResults;

      function filterGenre(val) {
        if (val.item) {
          for (let i = 0; i < val.item.genre.length; i++) {
            for (let j = 0; j < state.selectedGenreOption.length; j++) {
              if (val.item.genre[i] === state.selectedGenreOption[j]) {
                // Return if common value found
                return true;
              }
            }
          }
        } else {
          for (let i = 0; i < val.genre.length; i++) {
            for (let j = 0; j < state.selectedGenreOption.length; j++) {
              if (val.genre[i] === state.selectedGenreOption[j]) {
                // Return if common value found
                return true;
              }
            }
          }
        }
      }

      function filterYear(val) {
        if (val.item) {
          return state.selectedYearOption.includes(val.item.year);
        } else {
          return state.selectedYearOption.includes(val.year);
        }
      }

      function filterMedia(val) {
        if (val.item) {
          return val.item.type === state.selectedMediaOption;
        } else {
          return val.type === state.selectedMediaOption;
        }
      }
    }

    filterResults();

    function showGenres() {
      state.genresDropdown = !state.genresDropdown;
    }

    function showYears() {
      state.yearsDropdown = !state.yearsDropdown;
    }

    function hideDropdowns() {
      state.genresDropdown = false;
      state.yearsDropdown = false;
    }

    return {
      state,
      filterResults,
      resetForm,
      hideDropdowns,
      showYears,
      showGenres,
    };
  },
};
</script>
