<template>
  <div class="home">
    <ExerciseHeader text="Exercise 1 - Testimonial Block" />

    <BlockQuote
      text="Gingerbread tart cupcake cake muffin cookie liquorice tiramisu.
            Toffee cupcake cake cake croissant icing carrot cake cookie. Dessert
            chocolate bar apple pie sesame snaps liquorice carrot cake cookie
            danish."
      author="Indiana Jones"
      role="Archaeologist"
    />

    <ExerciseHeader text="Exercise 2 - Filterable Content" />

    <div class="container">
      <section class="filterable-content">
        <FilterableContent v-if="state.data.length > 0" :data="state.data" />
      </section>
    </div>
  </div>
</template>

<script>
// @ is an alias to /src
import { reactive } from "vue";
import axios from "axios";
import { useStore } from "vuex";

import BlockQuote from "@/components/BlockQuote.vue";
import ExerciseHeader from "@/components/ExerciseHeader.vue";
import FilterableContent from "@/components/filters/FilterableContent.vue";

export default {
  name: "app",
  components: {
    BlockQuote,
    ExerciseHeader,
    FilterableContent,
  },
  setup() {
    const store = useStore();

    const state = reactive({
      endpoint:
        "https://raw.githubusercontent.com/HubSpotWebTeam/CodeExercise/main/src/js/data/data.json",
      data: [],
    });

    function getMovies() {
      axios.get(state.endpoint).then((response) => {
        store.dispatch("setMovies", response.data.media);
        store.dispatch("setSearchResults", response.data.media);

        response.data.media.forEach((value) => {
          const genres = value.genre;
          const year = value.year;

          // Add any genres to the store
          genres.forEach((value) => {
            if (!store.getters.getGenres.includes(value)) {
              store.dispatch("addGenre", value);
            }
          });

          // Add any years to the store
          if (!store.getters.getYears.includes(year)) {
            store.dispatch("addYear", year);
          }
        });

        getMovieData();
      });
    }

    getMovies();

    const getMovieData = () => {
      state.data = store.getters.getSearchResults;
    };

    return {
      state,
      store,
    };
  },
};
</script>

<style lang="scss">
:root {
  // Set theme colours as CSS variables - these will be referenced in the SCSS
  // Brand colours
  --brand-color-1: #ff6c01;
  --brand-color-2: #00a2e0;
  --brand-color-2--dark: #0097d0;
  --brand-color-2--darker: #017eac;

  // Background colors
  --background-color-1: #f9f8f7;
  --background-color-2: #ffffff;
  --background-color-3: #00a4bd;

  // Typography colors
  --text-color--dark: #444444;
  --text-color--bright: #ffffff;
  --text-color--mid: #666666;
}

@import "@/scss/styles.scss";
</style>
