// Brand Colours

$brand-color-1: var(--brand-color-1);
$brand-color-2: var(--brand-color-2);


// Brand Shades

$brand-color-2--dark: var(--brand-color-2--dark);
$brand-color-2--darker: var(--brand-color-2--darker);


// Background Colours

$background-color-1: var(--background-color-1);
$background-color-2: var(--background-color-2);
$background-color-3: var(--background-color-3);

$text-color--dark: var(--text-color--dark);
$text-color--bright: var(--text-color--bright);
$text-color--mid: var(--text-color--mid);


// Spacing

$indent__ratio: 1em;

$indent__xsmall: $indent__ratio * 0.5;
$indent__small: $indent__ratio * 0.625;
$indent__base: $indent__ratio * 1.25;
$indent__large: $indent__ratio * 2.625;
$indent__xlarge: $indent__ratio * 3.75;

// Borders
$border-color__base: #cccccc;
$border-radius__base: 3px;
$border__base: 1px solid $border-color__base;


// Font Sizes
$font-size__base: 1em;
$font-size__h1: $font-size__base * 3;
$font-size__h2: $font-size__base * 2;
$font-size__h3: $font-size__base * 1.25;
$font-size__h4: $font-size__base * 1.25;
$font-size__small: $font-size__base * 0.875;

// Font Families
$font-family__base: 'Roboto', 'Montserrat', sans-serif;
$font-family__serif: 'Roboto Slab', serif;

// Font Weights
$font-weight__regular: 400;
$font-weight__semibold: 500;
$font-weight__bold: 600;
$font-weight__light: 300;