.form {
    border-bottom: $border__base;
    padding-bottom: $indent__small;

    .checkbox-item {
        display: flex;
        align-items: center;

        &:nth-of-type(n+2) {
            padding-left: $indent__small;
        }
    }

    .filters {
        display: flex;
    }

    .media-type {
        display: flex;
    }

    .form-actions {
        input[type="reset"] {
            border: none;
            background: transparent;
            color: $brand-color-2;
            text-transform: uppercase;
            font-weight: $font-weight__bold;
        }
    }

    input[type="text"] {
        padding: $indent__base;
        border: 1px solid $text-color--mid;
        width: 100%;
        max-width: 300px;
    }

    .search-input input {
        background-image: url("~@/assets/icons/search.svg");
        background-position: calc(100% - #{$indent__base}) center;
        background-repeat: no-repeat;
        background-size: 1.5rem;
    }
}

// Checkbox dropdowns
.check-list-wrap {
    position: relative;
    display: inline-block;
    min-width: 120px;
    flex: 1;

    &:nth-of-type(2) {
        margin-left: $indent__base;
    }

    &:focus-within,
    &.active {
        .check-list {
            display: block;

            &__button {
                &:before {
                    content: "";
                    width: 1rem;
                    height: 1rem;
                    display: block;
                    background-color: $background-color-2;
                    top: calc(100%);
                    border: 1px solid $border-color__base;
                    border-bottom: none;
                    border-right: none;
                    transform: rotate(45deg);
                    position: absolute;
                    z-index: 10;
                }
            }
        }
    }
}

.check-list {
    display: none;
    position: absolute;
    top: calc( 100% + .5rem);
    left: 0;
    background-color: $background-color-2;
    text-transform: uppercase;
    border: $border__base;
    border-bottom-width: 3px;
    width: 100%;
    min-width: 160px;
    max-height: 300px;
    overflow: auto;
    box-sizing: border-box;

    &__button {
        width: 100%;
        border-radius: 0;
        padding: $indent__base;
        text-align: left;
        border: $border__base;
        font-weight: $font-weight__bold;
        text-transform: uppercase;
        color: $text-color--mid;
        background-color: $background-color-1;
        border: none;
        border-bottom: 3px solid $border-color__base;

        &:after {
            content: "";
            display: flex;
            width: 1.125rem;
            height: 1.125rem;
            background-image: url("~@/assets/icons/chevron-down.svg");
            background-size: 1.125rem;
            background-position: center center;
            background-repeat: no-repeat;
            position: absolute;
            right: $indent__base;
            top: 50%;
            transform: translateY(-50%);
        }
    }

    &__item {
        padding: $indent__small;
        border-bottom: $border__base;
        display: flex;
        color: $text-color--mid;
        font-weight: $font-weight__bold;

       label {
            padding-left: $indent__xsmall;
            flex-grow: 1;
        }
    }
}