body {
    background-color: $background-color-1;

    * {
        box-sizing: border-box;
    }
}

.row {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: $indent__small $indent__small 0 $indent__small;

    > * {
        margin-top: $indent__base;
    }

    &:nth-child(n+2) {
        margin-top: $indent__small;
    }

    @include from('medium') {
        flex-direction: row;
    }
}