// Set typography defaults

body {
    font-family: $font-family__base;
    color: $text-color--dark;
}

h1 {
    font-size: $font-size__h1;
}

h2 {
    font-size: $font-size__h2;
}

h3 {
    font-size: $font-size__h3;
    margin: $indent__xsmall 0;
}

h4 {
    font-size: $font-size__h4;
    margin: $indent__xsmall 0;
}

p {
    font-size: $font-size__base;
    max-width: 600px;
}

.small,
h4.small,
h3.small {
    font-size: $font-size__small;
}

.large {
    font-size: $font-size__h4;
}

strong,
.strong {
    font-weight: $font-weight__bold;
}